.container {
    /* display: flex; */
    /* flex-grow: 1; */
}

.sub-container {
    display: flex;
    flex-flow: row wrap;
    /* margin: 15px; */
    margin: 20px;
    justify-content: space-around;

}
.product {
    display: flex;
    margin: 20px;

}