@import '../../../index.css';

.product-card {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px; */
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    transition: .2s ease-in-out;
    border-radius: 15px 15px 15px 15px;
    height: 450px;
    position: relative;
  }

  
  .product-card:hover {
      transform: scale(1.03);
      box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }
  
  .price {
    color: var(--color-two);
    font-size: 22px;
    margin-left: 15px;
  }
  
  .product-card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: var(--color-five);
    background-color: var(--color-one);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 15px 15px 15px 15px;
    opacity: 0.9;
    position: absolute;
    bottom: 0;
    left: 0;
 
  }

  .product-name {
    font-size: 25px;
    color: var(--color-one);
  }

  .product-description {
    color: var(--color-one);
    display: flex;
    align-items: flex-start;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .image {
      height: 40vh;
      object-fit: cover;
      /* background-color: white; */
      border-radius: 15px 15px 15px 15px;
  }
  
  .product-card button:hover {
    opacity: 1;
  
  }

  .product-margin {
    margin-top: 50px;
  }

  .remove-line {
    text-decoration: none;
    text-emphasis: none;
  }

  .same-line {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 15px;
    margin-left: 15px;
  }